<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
    
  <appSettings file="">
    <clear />
    <add key="DefaultConnectionName" value="" />
  </appSettings>
  
  <connectionStrings>
    <clear />
  </connectionStrings>

  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>

</configuration>